<header class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light border-bottom border-dark">
    <button class="btn btn-outline-dark" (click)="_auth.goToHome()" type="button" name="button"><i class="fas fa-home"></i></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


   <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav mr-auto">


      </ul>


      <button *ngIf="!_auth.isLogged()" (click)="_auth.goToLogin()" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-sign-in-alt"></i>
        Log in
       </button>

      <div *ngIf="_auth.isLogged()" class="btn-group">
         <button (click)="_auth.goToMyProfile()" class="dropdown-item" type="button">
           <i class="fas fa-user"></i>
           My Profile
         </button>

         <button class="dropdown-item" type="button">
            <i class="fas fa-heart"></i>
           Places
         </button>

           <button class="dropdown-item" type="button">
             <i class="fas fa-users"></i>
             Friends
           </button>


         <button (click)="_auth.logOut()" class="dropdown-item" type="button">
           Log out
           <i class="fas fa-sign-out-alt"></i>
         </button>

      </div>

    </div>
  </nav>




</header>
