<p>
  FriendlyPets se reserva el derecho de modificar, en cualquier momento, la presentación y configuración de esta página, así como las Condiciones Generales de uso de la misma.

  FriendlyPets y su logo, son propiedad de FriendlyPets no pudiéndose usar los mismos para fines comerciales u otros fines.

  FriendlyPets no se responsabiliza por el uso indebido o abusivo del contenido de su base de datos y se reserva el derecho de suprimir aquellos contenidos que resulten no veraces, inexactos o no cumplan con los requisitos establecidos (no están autorizadas publicaciones de venta de animales, canjes, etc)

  FriendlyPets sólo pone a disposición de los Usuarios un espacio virtual que les permite a los usuarios ponerse en comunicación mediante Internet o telefonicamente .

  FriendlyPets no interviene ni tiene posesión de las mascotas publicadas por los usuarios , por ello no será responsable respecto de la existencia o legitimidad de las publicaciones de los Usuarios .

  Cada Usuario conoce y acepta ser el exclusivo responsable por las publicaciones que realiza.

  Debido a que FriendlyPets no tiene ninguna participación durante todo el tiempo en que el aviso se publica , ni en el posterior acuerdo entre las partes , no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios . El Usuario conoce y acepta que al realizar acuerdos con otros Usuarios o terceros lo hace bajo su propio riesgo.

  En ningún caso FriendlyPets será responsable por cualquier daño y/o perjuicio que haya podido sufrir el Usuario, debido a los acuerdos realizadas o no realizadas entre usuarios respecto a las mascotas publicados a través de FriendlyPets</p>
