<div id="contenedor" class="container-fluid">
  <div id="row100vh" class="row no-gutter min-vh-100">
    <div class="col-sm-12 col-md-12 col-lg-6 bg-image"></div>
    <div id="allignSelfCenter" class="align-self-center col-sm-12 col-md-12 col-lg-6 ">
      <div class="login d-flex align-items-center py-sm-0 py-md-2 py-xl-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h4 class="login-heading mb-4 text-center">Únete a nuestra manada!</h4>

              <form class="needs-validation">

                <div class="form-label-group">
                  <input type="text" id="inputName" class="form-control" placeholder="..Nombre" required autofocus minlength="3" maxlength="20">
                  <label for="inputName">Nombre</label>
                </div>


                <div class="form-label-group">
                  <input type="email" id="inputEmail" class="form-control" placeholder=" ..Email address" minlength="3" maxlength="20" required autofocus>
                  <label for="inputEmail">Email </label>
                </div>

<div class="form-row">



                <div class="form-label-group col-6 col-sm-6 col-md-6 col-lg-12 ">
                  <input type="password" id="inputPassword" class="form-control" placeholder=" ..Password" minlength="3" maxlength="20" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="al menos 1 mayúscula, 1 minúscula, y un número" required>
                  <label for="inputPassword">Contraseña</label>
                </div>

                <div class="form-label-group col-6 col-sm-6 col-md-6 col-lg-12 ">
                  <input type="password" id="inputRepeatPassword" class="form-control" placeholder=" ..Password" minlength="3" maxlength="20" required>
                  <label for="inputRepeatPassword">Repetir</label>
                </div>

  </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                </div>



              </form>
              <button (click)="saveNewUser()" class="btn btn-lg btn-info btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Unirme al grupo</button>

              <button (click)="_auth.goToLogin()" class="btn btn-lg btn-secondary btn-block btn-login text-uppercase font-weight-bold mb-2">ya soy parte</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
